# Anthropic
ANTHROPIC_API_KEY=your_api_key_here
# Connection Strings
CONNECTIONSTRINGS__KAFKA=localhost:9092
CONNECTIONSTRINGS__MONGODB=mongodb://admin:password@localhost:27017
# OpenTelemetry
OTLP__ENDPOINT=http://localhost:4317
