services:
  supplier.ingestion.orchestrator.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "8080"
      - "8081"
    volumes:
      - ${APPDATA:-/tmp}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA:-/tmp}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA:-/tmp}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA:-/tmp}/ASP.NET/Https:/root/.aspnet/https:ro