include:
  - path: files/docker-compose.yml
    project_directory: files

services:
  supplier.ingestion.orchestrator.api:
    image: ${DOCKER_REGISTRY-}supplieringestionorchestratorapi
    build:
      context: .
      dockerfile: src/Supplier.Ingestion.Orchestrator.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Kafka=kafka:29092
      - ConnectionStrings__MongoDb=mongodb://admin:password@mongo:27017
      - Otlp__Endpoint=http://otel-collector:4317
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - kafka
      - mongo
      - otel-collector
    networks:
      - saga-net

networks:
  saga-net:
    driver: bridge